<% let uploadImage = false %>
<% let canLike = false %>
<%- include('../partials/header.ejs', {uploadImage, canLike}) %>
<div id="profile" class="container">
  <div class="row">
    <div id="dashboard-profile" class="col-lg-6 d-flex flex-column justify-content-between">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="dashboard-profile-pic">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="name">
          <%= user.firstName%> <%= user.lastName %>
        </div>
      </div>
    </div>
    <div id="profile-info-container" class="col-lg-6 d-flex flex-column justify-content-between">
      <div class="row">
        <div class="col-5 profile-info">
          Username:
        </div>
        <div class="col-7 profile-info">
          <%= user.userName %>
        </div>
        <div class="col-5 profile-info">
           First Name:
        </div>
        <div class="col-7 profile-info">
          <%= user.firstName %>
        </div>
        <div class="col-5 profile-info">
           Last Name:
        </div>
        <div class="col-7 profile-info">
          <%= user.lastName %>
        </div>
        <div class="col-5 profile-info">
           Email:
        </div>
        <div class="col-7 profile-info">
          <%= user.email %>
        </div>
        <div class="col-12 profile-info">
           Profile:
        </div>
        <div class="col-12 profile-info">
          <%= user.profile %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 profile-info">
          <!-- <form method="post" action="/users/<%= user.id%>/edit">
            <input type="hidden" name="_method" value="put"> -->
            <a href="/users/<%= user.id %>/edit"><button type="submit" class="btn btn-primary" name="edit">Edit</button></a>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
