<%- include('./partials/header.ejs') %>
<div class="photo-frame container">
  <div id="main" class="container">
    <div class="row">
      <div id="main-a" class="col-lg-6 d-flex flex-column">
        <div class="row">
          <div class="col-12">
            <h1 class="title"><%= title %></h1>
          </div>
          <div class="col-12">
            <div class="sub-title"><em>Solution for organizing your personal photo</em></div>
          </div>
        </div>
        <div class="row align-self-center hidden-md-down">
          <div class="col">
            <div class="lens-outer">
              <div class="lens-inner">
                <div>
                  <span><img src="http://www.wallpapereast.com/static/images/forest-nature-wallpapers.jpg" width="100" height="100" /></span>
                  <span><img src="http://www.wallpapereast.com/static/images/nature-hd-wallpaper-506107.jpg" width="100" height="100" /></span>
                  <span><img src="http://www.wallpapereast.com/static/images/nature-wallpapers2.jpg" width="100" height="100" /></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main-b" class="col-lg-6">
        <div class="row">
          <div id="sign-in-btn" class="col-6 active">
            <span class="glow">Sign up</span>
          </div>
          <div id="login-btn" class="col-6">
            <span class="glow">Login</span>
          </div>
        </div>
        <div class="row">
          <div id="sign-up" class="col-12 tab-content active">
            <%- include('./login/signup.ejs') %>
          </div>
          <div id="login" class="col-12 tab-content">
            <%- include('./login/login.ejs') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-6 col-sm-6">
        <footer>@ PhotoEz</footer>
      </div>
    </div>
  </div>
</div>
  <%- include('./partials/footer.ejs') %>
