<form method="post" action="/users/register">
  <div class="row">
    <% if (!errors.hasOwnProperty('firstname')) { %>
      <% if (!Object.prototype.hasOwnProperty.call(body,'firstname')) { %>
      <div class="col-md-6">
        <div class="form-group">
          <input id="firstname" name="firstname" type="text" class="form-control"  placeholder="First name" value="<%= body.firstname %>" required>
        </div>
      </div>
      <% } else { %>
        <div class="col-md-6">
          <div class="form-group has-success">
            <input id="firstname" name="firstname" type="text" class="form-control form-control-success"  placeholder="First name" value="<%= body.firstname %>" required>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <div class="form-group has-danger">
        <div class="col-md-6">
          <input id="firstname" name="firstname" type="text" class="form-control  form-control-danger"  placeholder="First name" required>
        </div>
      </div>
    <% } %>
      <% if (!errors.hasOwnProperty('lastname')) { %>
        <% if (!Object.prototype.hasOwnProperty.call(body,'lastname')) { %>
        <div class="col-md-6">
          <div class="form-group">
            <input id="lastname" name="lastname" type="text" class="form-control"  placeholder="Last name" value="<%= body.lastname %>" required>
          </div>
        </div>
        <% } else { %>
        <div class="col-md-6">
          <div class="form-group has-success">
            <input id="lastname" name="lastname" type="text" class="form-control form-control-success"  placeholder="Last name" value="<%= body.lastname %>" required>
          </div>
        </div>
        <% } %>
      <% } else { %>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <input id="lastname" name="lastname" type="text" class="form-control form-control-danger"  placeholder="Last name" required>
          </div>
        </div>
      <% } %>
    </div>
      <% if (!errors.hasOwnProperty('username')) { %>
        <% if (!Object.prototype.hasOwnProperty.call(body,'username')) { %>
        <div class="col-12">
          <div class="form-group row">
            <input id="username" name="username" type="text" class="form-control"  placeholder="Username" value="<%= body.username %>" required>
          </div>
        </div>
        <% } else { %>
          <div class="col-12">
            <div class="form-group row has-success">
              <input id="username" name="username" type="text" class="form-control form-control-success"  placeholder="Username" value="<%= body.username %>" required>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <div class="col-12">
          <div class="form-group row has-danger">
            <input id="username" name="username" type="text" class="form-control form-control-danger"  placeholder="Username" value="<%= body.username %>" required>
          </div>
        </div>
      <% } %>
      <% if (!errors.hasOwnProperty('email')) { %>
        <% if (!Object.prototype.hasOwnProperty.call(body,'email')) { %>
        <div class="col-12">
          <div class="form-group row">
            <input id="email" name="email" type="email" class="form-control" placeholder="you@example.com" value="<%= body.email %>" required>
          </div>
        </div>
        <% } else { %>
        <div class="col-12">
          <div class="form-group row has-success">
            <input id="email" name="email" type="email" class="form-control form-control-success" placeholder="you@example.com" value="<%= body.email %>" required>
          </div>
        </div>
        <% } %>
      <% } else { %>
      <div class="col-12">
        <div class="form-group row has-danger">
          <input id="email" name="email" type="email" class="form-control form-control-danger" placeholder="you@example.com" required>
        </div>
      </div>
      <% } %>
      <% if (!errors.hasOwnProperty('password')) {%>
        <% if (!Object.prototype.hasOwnProperty.call(body,'password')) { %>
        <div class="col-12">
          <div class="form-group row">
            <input id="password" name="password" type="password" class="form-control" placeholder="Password" value="<%= body.password %>" required>
          </div>
        </div>
        <% } else { %>
        <div class="col-12">
          <div class="form-group row has-success">
            <input id="password" name="password" type="password" class="form-control form-control-success" placeholder="Password" value="<%= body.password %>" required>
          </div>
        </div>
        <% } %>
      <% } else { %>
      <div class="col-8">
        <div class="form-group row has-danger">
          <input id="password" name="password" type="password" class="form-control form-control-danger" placeholder="Password" required>
        </div>
      </div>
      <% } %>
      <div class="form-group row">
        <div class="col-12">
        Have an account? <a href="#login">Login</a> here
        </div>
      </div>
      <div class="form-group row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>
      </div>
  </form>
