<% let uploadImage = false %>
<%- include('../partials/header.ejs', {uploadImage}) %>
<div id="likes-container" class="container">
  <div class="row">
    <div class="col">
      <div id="likedPosts">
        <span class="glow">Liked Posts</span>
      </div>
    </div>
  </div>
  <% if (likes.length != 0) { %>
  <div class="row parent-container">
    <% likes.forEach(function(like) { %>
        <div class="col-sm-4">
          <div class="post">
            <a href="<%= like.Post.imageURL %>">
              <div class="img-fluid" style="background-size: cover; background-image: url('<%= like.Post.imageURL %>'); width: 100%; height:200px;">
              </div>
            </a>
            <div class="overlay-content">
              <div class="d-flex justify-content-center align-items-center">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;
                <div class="author"><%= like.Post.User.firstName%></div>
                <div class="postId"><%= like.Post.id %></div>
              </div>
            </div>
          </div>
      </div>
    <% }) %>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class = "pagination">
        <% let previousPage = (currentPage - 1) < 0 || pages==currentPage ? (currentPage - 1): 1 %>
          <li class="page-item"><a class="page-link" href = "/likes/?page=<%= previousPage%>">&laquo;</a></li>
         <% for(let i = 1 ; i <= pages; i++) {%>
          <% if (i == currentPage) {%>
           <li class="page-item active"><a class="page-link" href = "/likes/?page=<%= i %>"><%= i %></a></li>
          <% } else { %>
           <li class="page-item"><a class="page-link" href = "/likes/?page=<%= i %>"><%= i %></a></li>
          <% } %>
         <% }%>
        <% let nextPage = (currentPage + 1) < pages ? (currentPage + 1): pages %>
          <li class="page-item"><a class="page-link" href = "/likes/?page=<%= nextPage %>">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <% } %>
</div>
<%- include('../upload/upload-modal.ejs') %>
<%- include('../partials/footer.ejs') %>
