<div class="modal fade" id="<%= modalId %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= modalTitle %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="<%= inputId%>" name="album-name" type="text" class="form-control" placeholder="Album name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="<%= buttonId %>" type="button" class="btn btn-primary"><%= buttonText %></button>
      </div>
    </div>
  </div>
</div>
</div>
