<% let uploadImage = false %>
<%- include('../partials/header.ejs', {uploadImage}) %>
<div class="photo-frame container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" data-toggle="modal" data-target="#create-album-modal">Create Album</button>
      <button class="btn btn-primary" data-toggle="modal" data-target="#destroy-album-modal">Delete Album</button>
    </div>
  </div>
  <div id="main" class="container">
  <div id="albums" class="row">
  <% albums.forEach(function(album) { %>
    <div id="album" class="col-md-4">

    <a href="/albums/<%= album.id %>"><div class="folder glow">
    <%= album.name %>
    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
    </div></a>
    </div>
  <% }) %>
  </div>
</div>
</div>

<% let modalId = 'create-album-modal' %>
<% let buttonText = 'Create' %>
<% let modalTitle = 'Create an Album' %>
<% let buttonId = 'create-album-btn'%>
<% let inputId= 'album-name-create' %>

<%- include('./album-modal.ejs', {modalId, buttonText, modalTitle, buttonId, inputId}) %>

<% modalId = 'destroy-album-modal' %>
<% buttonText = 'Delete' %>
<% modalTitle = 'Delete an Album' %>
<% buttonId = 'destroy-album-btn' %>
<% inputId= 'album-name-destroy' %>

<%- include('./album-modal.ejs', {modalId, buttonText, modalTitle, buttonId, inputId}) %>

<% include('../partials/footer.ejs') %>
