
<div id="popup-container" class="container-fluid post-popup">
  <div class="row">
    <div class="col-md-8 d-flex flex-column">
      <div class="row">
        <div class="col-12">
          <img class="post-img" src="<%= post.imageURL %>">
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-between">
          <div>
            <%= post.viewCount %>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <%= post.Likes.length %>
            <% if (post.Likes.length > 0){%>
              <i class="heart fa fa-heart" aria-hidden="true"></i>
            <% } else {%>
              <i class="heart fa fa-heart-o" aria-hidden="true"></i>
            <% } %>
          </div>
          <div>
            Author:
            <%= post.User.firstName %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-between post-comment">
      <div class="d-flex flex-column">
        <div class="comment-icons">
          <i class="heart fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div id="comments-container">
          <% if (comments.length > 0) { %>
            <% comments.forEach((comment)=> { %>
              <div><%= comment.User.firstName%>: <%= comment.body %></div>
            <% }) %>
          <% } %>
        </div>
      </div>
      <div>
        <form id="comment-form" data-id="<%=post.id%>">
          <textarea name="comment" class="form-control" required></textarea>
          <input type="submit" name="submit" value="Add comment">
        </form>
      </div>
    </div>
  </div>
</div>
