
<% let uploadImage = true %>
<%- include('../partials/header.ejs', {uploadImage}) %>
<div id="posts-container" class="container">
  <div class="row">
    <div class="col">
      <div id="viewAlbums"><span class="glow">Your Albums</span>
        <div id="myAlbums">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row parent-container">
      <% posts.forEach(function(post) { %>
        <div class="col-sm-4">
          <div class="post">
            <a href="<%= post.imageURL %>"><img class="img-fluid" src="<%= post.imageURL %>" alt="User Image"></a>
            <div class="overlay-content">
              <div>
                <i class="fa fa-heart" aria-hidden="true"></i>
              </div>
              <div>
                <i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;<%= post.User.firstName%>
              </div>
            </div>
          </div>
      </div>
    <% }) %>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class = "pagination">
        <% let previousPage = (currentPage - 1) < 0 || pages==currentPage ? (currentPage - 1): 1 %>
          <li class="page-item"><a class="page-link" href = "/posts/?page=<%= previousPage%>">&laquo;</a></li>
         <% for(let i = 1 ; i <= pages; i++) {%>
          <% if (i == currentPage) {%>
           <li class="page-item active"><a class="page-link" href = "/posts/?page=<%= i %>"><%= i %></a></li>
          <% } else { %>
           <li class="page-item"><a class="page-link" href = "/posts/?page=<%= i %>"><%= i %></a></li>
          <% } %>
         <% }%>
        <% let nextPage = (currentPage + 1) < pages ? (currentPage + 1): pages %>
          <li class="page-item"><a class="page-link" href = "/posts/?page=<%= nextPage %>">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>

<%- include('../upload/upload-modal.ejs') %>
<%- include('../partials/footer.ejs') %>
